In [134]:
# these dependencies are necessary for loading .csv datasets into Pandas dataframes.
# sqlalchemy is used to bulk insert records into MySQL, on the user's behalf.
from flask import Flask
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, DateTime, String

In [135]:
# setup sqlalchemy connection to MySQL server.
engine = create_engine('mysql+pymysql://quentin:password@127.0.0.1:3306/covid19')
con = engine.connect()

# relative path to csv dataset.
filePath = 'sahha.csv'

In [136]:
# read csv dataset from file into pandas dataframe, parsing Date column as datetime64
df = pd.read_csv(filePath, dayfirst=True, parse_dates=['Date'])

In [139]:
df.dtypes

Date            datetime64[ns]
New Cases                int64
Total Cases              int64
Recovered                int64
Deaths                   int64
Active Cases             int64
dtype: object

In [132]:
df.head(10)

        Date  New Cases  Total Cases  Recovered  Deaths  Active Cases
0 2020-03-06          1            1          0       0             1
1 2020-03-07          2            3          0       0             3
2 2020-03-08          0            3          0       0             3
3 2020-03-09          1            4          0       0             4
4 2020-03-10          1            5          0       0             5
5 2020-03-11          2            7          0       0             7
6 2020-03-12          5           12          0       0            12
7 2020-03-13          1           13          1       0            12
8 2020-03-14          5           18          1       0            17
9 2020-03-15          3           21          2       0            19

In [133]:
# send dataframe to MySQL 'covid19' table
df.to_sql(
    'covid19',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "Date": DateTime,
        "New Cases": Integer,
        "Total Cases": Integer,
        "Recovered": Integer,
        "Deaths": Integer,
        "Active Cases": Integer
    }
)