In [2]:
from bs4 import BeautifulSoup
import os
from tqdm import tqdm
import re
import numpy as np
import pandas as pd

In [16]:
proptypes = ["flat", "apartment", "penthouse", "house", "maisonette", "farmhouse", "villa", "field"]
adID = []
adloc = []
adprice = []
adproptype = []
processedfiles = []

In [17]:
# Set up progress bar
pbar = tqdm(total=480) 
count = 0
# Looping through all 480 files
for filename in os.listdir("./data"):
    # Only consider .html files
    if filename.endswith(".html"):
    # Parse HTML into BeutifulSoup object
        html = BeautifulSoup(open("data/" + filename), "html.parser")
        # Get list of all <li> tags
        lis = html.find_all("li")
        for li in lis:
            # If this <li> tag is an ad listing, it will contain the string 'Property For Sale'
            if "Property For Sale" in li.text:
                # Convert all ad text to lowercase for consistency
                adtext = li.text.lower()

                # Extract 'name' attribute of each <li> tag. This will occasionally fail since
                # there exist other <li> tags without the 'name' attribute. In that case, 
                # I ignore the <li> tag and search for the next one. 
                # The 'name' attribute identifies each ad listing. Fortunately, if an 
                # previously parsed <li> tag reoccurs, the 'name' attribute can be used to 
                # recognize such repetition. This makes it easy to filter out overlapping data
                # later by calling drop_duplicates().
                try:
                    adID.append(li['name'])
                except:
                    continue

                # Search for municipality. In the <li> tag's raw text, 
                # these town names occur in a new line. Therefore, I 
                # use regex to match \n first. Any following characters
                # except \n are matched. Positive lookahead asserts that 
                # the characters are followed by a fullstop. First capturing
                # groups longer than 30 characters will be ignored
                loc = re.search("\n(.+?(?=\.))\.", adtext)
                if loc is None or len(loc.group(1)) > 30:
                    adloc.append(np.nan)
                else:
                    adloc.append(loc.group(1))

                # Search for property types matching a list of 8 predefined
                # strings. If no matches are found in the ad listing, then 
                # nan is appended to the adproptype list. It is very important
                # to always append something to the list (matched string or nan)
                # otherwise the elements in the 4 lists will not correspond to
                # the same <li> tag, and drop_duplicates() will not be effective.
                match = False
                for string in proptypes:
                    if string in adtext:
                        adproptype.append(string)
                        match = True
                        break    
                if match is False:
                    adproptype.append(np.nan)

                # Search for property price. The price consistently occurs
                # after the property description sentence(s). Therefore, I 
                # exploit this by matching any characters after a fullstop
                # which are followed by any number of digits, a comma, any
                # number of digits, and finally another fullstop.
                pri = re.search("\.(.*\d+\,\d+)\.", adtext)
                if pri is None:
                    adprice.append(np.nan)
                elif pri.group(1) is None:
                    adprice.append(np.nan)
                else:
                    pri = re.search("([\d+|\,]+$)", pri.group(1))
                    adprice.append(int(pri.group(1).replace(",", "")))

    # Data has been collected for this HTML file. Now I store it 
    # as a pandas dataframe in a list for all 280 processed files
    processedfiles.append(pd.DataFrame({'id': adID,
            'price': adprice,
            'location': adloc,
            'type': adproptype}))
    adID = []
    adprice = []
    adloc = []
    adproptype = []
    
    pbar.update(1)
pbar.close()

100%|██████████| 480/480 [01:06<00:00,  7.22it/s]

In [18]:
processedfiles

[          id     price                       location        type
 0    1101104       NaN       100% upmarket properties         NaN
 1    1101105  500000.0  bungalow converted, with land         NaN
 2    1101106  105000.0               gozo, marsalforn   apartment
 3    1101107  220000.0                  gozo, xewkija         NaN
 4    1101108  260000.0           guardamangia / pietà        flat
 ..       ...       ...                            ...         ...
 597  1100152  560000.0                        kappara       villa
 598  1100153  199000.0                           lija  maisonette
 599  1100154  155000.0                          msida   apartment
 600  1100155  660000.0                         sliema   penthouse
 601  1100156  420000.0                     st julians       villa

 [602 rows x 4 columns],
           id     price                location        type
 0    1237527       NaN                     NaN         NaN
 1    1237528  240000.0                  attard   apartment
 2    1237529  295000.0              birkirkara   penthouse
 3    1237530  385000.0              gozo, qala       house
 4    1237531  175000.0              gozo, qala   penthouse
 ..       ...       ...                     ...         ...
 583  1236760  285000.0                    lija   apartment
 584  1236761  295000.0                  naxxar       house
 585  1236762  348000.0                   qawra   penthouse
 586  1236763  230000.0               san ġwann   apartment
 587  1236764  210000.0  st julians, the podium  maisonette

 [588 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id     price                  location        type
 0    1110310       NaN  100% upmarket properties         NaN
 1    1110311       NaN                       NaN         NaN
 2    1110312  340000.0                gozo, qala       villa
 3    1110313  199000.0                      lija  maisonette
 4    1110314  148000.0           pwales, xemxija   penthouse
 ..       ...       ...                       ...         ...
 826  1109008  199000.0                      lija  maisonette
 827  1109009  340000.0                marsascala   apartment
 828  1109010       NaN                     mosta   penthouse
 829  1109011       NaN                 tal-ibraġ   penthouse
 830  1109012  440000.0                    żabbar         NaN

 [831 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id     price   location        type
 0    1178734       NaN        NaN         NaN
 1    1178735       NaN        NaN         NaN
 2    1178736  199000.0      gżira   apartment
 3    1178737  800000.0  tal-ibraġ         NaN
 4    1178725       NaN        NaN         NaN
 ..       ...       ...        ...         ...
 607  1177909  738000.0    kalkara   penthouse
 608  1177910       NaN       lija  maisonette
 609  1177911  193000.0      mosta   apartment
 610  1177912  530000.0     sliema   apartment
 611  1177913       NaN     żebbuġ       house

 [612 rows x 4 columns],
           id      price           location        type
 0    1339002   635000.0       gozo, xagħra       house
 1    1338429   395000.0             attard   apartment
 2    1338432   265000.0    baħar iċ-ċagħaq   apartment
 3    1338435        NaN    baħar iċ-ċagħaq        flat
 4    1338438        NaN    baħar iċ-ċagħaq   apartment
 ..       ...        ...                ...         ...
 158  1338348   400000.0  gozo, san lawrenz       house
 159  1338351  1800000.0           madliena       house
 160  1338354   275000.0           valletta         NaN
 161  1338324   198000.0       gozo, sannat  maisonette
 162  1338267   860000.0        gozo, għarb       house

 [163 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
          id      price               location        type
 0   1216041        NaN                    NaN         NaN
 1   1216042        NaN                 attard  maisonette
 2   1216043  1600000.0                 balzan       villa
 3   1216044   650000.0      cospicua (bormla)       house
 4   1216045   157000.0                  fgura   penthouse
 5   1216046   360000.0           gozo, kerċem       house
 6   1216047   235000.0             gozo, qala   apartment
 7   1216048   795000.0                kappara       villa
 8   1216049        NaN  mellieħa, town centre   apartment
 9   1216050   382000.0               mellieħa  maisonette
 10  1216051   749000.0                  mosta       house
 11  1216052        NaN          pendergardens   apartment
 12  1216053   146500.0                  pietà   apartment
 13  1216054   178000.0                  qawra   apartment
 14  1216055   125000.0                 qrendi         NaN
 15  1216056        NaN              san ġwann       house
 16  1216057   500000.0                 sliema   penthouse
 17  1216058   325000.0                 sliema   penthouse
 18  1216059   350000.0             st julians         NaN
 19  1216060   395000.0                 swieqi   apartment
 20  1216061   490000.0                 swieqi  maisonette
 21  1216062   285000.0              tal-ibraġ   apartment
 22  1216063   395000.0              tal-ibraġ   apartment
 23  1216064   660000.0            tigné point   apartment
 24  1216065   130000.0                 żabbar   apartment
 25  1216066   675000.0                 żebbuġ       house
 26  1216067   299000.0                 żejtun       house
 27  1216024        NaN                    NaN         NaN
 28  1216025   157000.0                  fgura   penthouse
 29  1216026   185000.0             marsascala   apartment
 30  1216027   350000.0                 sliema   apartment
 31  1216028   500000.0                 sliema   penthouse
 32  1216029        NaN             st julians         NaN
 33  1216030        NaN            tigné point   apartment
 34  1216031   660000.0            tigné point   apartment
 35  1216014        NaN                    NaN         NaN
 36  1216015        NaN                  gżira         NaN
 37  1216016   500000.0                 sliema   penthouse,
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id      price                       location       type
 0    1323266        NaN                            NaN        NaN
 1    1323269   137500.0                   gozo, xlendi  apartment
 2    1323272  1395000.0                         sliema      house
 3    1323236        NaN                            NaN        NaN
 4    1323239  1395000.0                         sliema      house
 ..       ...        ...                            ...        ...
 286  1322150   290000.0               gozo, marsalforn  penthouse
 287  1322153   185000.0                   gozo, żebbuġ      house
 288  1322156   535000.0  san ġwann, monte rosa gardens      house
 289  1322159        NaN                     st julians        NaN
 290  1322132        NaN                      tal-ibraġ  apartment

 [291 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id     price                     location        type
 0    1157471       NaN                          NaN         NaN
 1    1156850       NaN                          NaN         NaN
 2    1156851       NaN                          NaN         NaN
 3    1156852  175000.0                       attard   apartment
 4    1156853  270000.0                       attard  maisonette
 ..       ...       ...                          ...         ...
 538  1156604       NaN  marsascala, bellavista area  maisonette
 539  1156605       NaN               mosta, central       house
 540  1156606  109000.0                        qormi   apartment
 541  1156607       NaN                     siġġiewi  maisonette
 542  1156608  135000.0                    st venera   penthouse

 [543 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id     price                  location       type
 0    1235976       NaN                       NaN        NaN
 1    1235977  125000.0          gozo, marsalforn  apartment
 2    1235978  350000.0                st julians        NaN
 3    1235979       NaN                st julians  apartment
 4    1235361       NaN                       NaN        NaN
 ..       ...       ...                       ...        ...
 560  1234638       NaN                st julians        NaN
 561  1234620       NaN                       NaN        NaN
 562  1234621  990000.0            fort cambridge  apartment
 563  1234622  150000.0              gozo, sannat  apartment
 564  1234623  220000.0  gżira, off the promenade  apartment

 [565 rows x 4 columns],
           id     price                   location        type
 0    1176951       NaN                        NaN         NaN
 1    1176952  198500.0                     għaxaq       house
 2    1176953  193000.0                      mosta   apartment
 3    1176954       NaN  msida, university heights   apartment
 4    1176955  109000.0                      qormi   apartment
 ..       ...       ...                        ...         ...
 717  1175945       NaN                        NaN         NaN
 718  1175946       NaN                     attard  maisonette
 719  1175947  198500.0                     għaxaq       house
 720  1175948  109000.0                      qormi   apartment
 721  1175949  120500.0                  st venera   apartment

 [722 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id     price           location       type
 0    1328552  300000.0        gozo, mġarr        NaN
 1    1328555  635000.0       gozo, xagħra      house
 2    1328558  200000.0             swieqi       flat
 3    1328528       NaN                NaN        NaN
 4    1328531  160000.0     gozo, victoria  apartment
 ..       ...       ...                ...        ...
 312  1327388   30000.0             attard  penthouse
 313  1327391  250000.0   gozo, marsalforn  apartment
 314  1327349   30000.0             attard  penthouse
 315  1327352  875000.0  gozo, san lawrenz      house
 316  1327355       NaN          tal-ibraġ  apartment

 [317 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id     price          location       type
 0    1334487  450000.0        gozo, qala      house
 1    1333803  275000.0            attard  penthouse
 2    1333806       NaN            attard      villa
 3    1333809  795000.0            attard      villa
 4    1333812  680000.0            attard  penthouse
 ..       ...       ...               ...        ...
 201  1333761  174000.0       gozo, għarb  apartment
 202  1333764  125000.0       gozo, għarb  apartment
 203  1333767  140000.0      gozo, xlendi  apartment
 204  1333746  165000.0  gozo, marsalforn  apartment
 205  1333737  189000.0    gozo, victoria  apartment

 [206 rows x 4 columns],
           id     price                       location        type
 0    1246619  640000.0                            NaN       house
 1    1246620  680000.0                   gozo, għasri       house
 2    1246621       NaN  tal-ibraġ, limits of madliena   apartment
 3    1246203       NaN                            NaN         NaN
 4    1246204  350000.0                         attard   apartment
 ..       ...       ...                            ...         ...
 346  1246116  210000.0                   gozo, xagħra   apartment
 347  1246117       NaN                     st julians         NaN
 348  1246107  225000.0                 gozo, victoria  maisonette
 349  1246108       NaN  tal-ibraġ, limits of madliena   apartment
 350  1246109  480000.0                      tal-ibraġ       house

 [351 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id     price         location        type
 0    1240348       NaN              NaN         NaN
 1    1240349       NaN           attard         NaN
 2    1240350  295000.0       birkirkara   penthouse
 3    1240351       NaN         għargħur   apartment
 4    1240352  499000.0      gozo, nadur       house
 ..       ...       ...              ...         ...
 525  1239661  348000.0            qawra   penthouse
 526  1239662  230000.0        san ġwann   apartment
 527  1239663  305000.0           sliema   apartment
 528  1239664  186500.0        st venera  maisonette
 529  1239665  246000.0  xemxija heights   apartment

 [530 rows x 4 columns],
           id     price      location        type
 0    1228168  292000.0        attard   apartment
 1    1228169  180000.0  ħamrun house       house
 2    1228170  169000.0         qormi   penthouse
 3    1228171  900000.0        sliema       house
 4    1228172  350000.0      valletta   apartment
 ..       ...       ...           ...         ...
 554  1227438  292000.0        attard   apartment
 555  1227439  298000.0        naxxar       house
 556  1227440  169000.0         qormi   penthouse
 557  1227441  325000.0        sliema         NaN
 558  1227442  210000.0    st julians  maisonette

 [559 rows x 4 columns],
           id     price              location        type
 0    1120154       NaN                   NaN         NaN
 1    1120155   80000.0            birkirkara       house
 2    1120156  370000.0  gozo, għasri, limits       house
 3    1120157  220000.0         gozo, xewkija         NaN
 4    1120158  135000.0                 pietà   apartment
 ..       ...       ...                   ...         ...
 453  1119584  110000.0            marsascala   apartment
 454  1119585  120000.0                 msida   apartment
 455  1119586       NaN         sliema, tigné  maisonette
 456  1119568  185000.0              għargħur   apartment
 457  1119569  953000.0                żebbuġ       house

 [458 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id      price                location       type
 0    1251985        NaN                     NaN        NaN
 1    1251986        NaN         baħar iċ-ċagħaq  apartment
 2    1251987  1180000.0                 birguma      villa
 3    1251988   295000.0                     NaN  penthouse
 4    1251989   150000.0       gozo, għajnsielem  apartment
 ..       ...        ...                     ...        ...
 521  1251291        NaN                   paola        NaN
 522  1251292   290000.0                   paola      house
 523  1251293   158000.0                   qawra  apartment
 524  1251294        NaN                   qormi        NaN
 525  1251295   690000.0  sliema (dingli street)       flat

 [526 rows x 4 columns],
           id     price                       location        type
 0    1123442       NaN                            NaN         NaN
 1    1123443  165000.0                          mosta  maisonette
 2    1123444  266000.0             san pawl tat-tarġa  maisonette
 3    1123445  279000.0                         sliema       house
 4    1122553       NaN  1% anne pullicino sensara www         NaN
 ..       ...       ...                            ...         ...
 771  1122317       NaN                          qawra   apartment
 772  1122318  145000.0                      st venera  maisonette
 773  1122319   99000.0                        tarxien   apartment
 774  1122320       NaN                       valletta         NaN
 775  1122321  110000.0  żurrieq (st catherine street)   apartment

 [776 rows x 4 columns],
           id      price                   location       type
 0    1177901        NaN                        NaN        NaN
 1    1177902        NaN                        NaN        NaN
 2    1177903  1350000.0                     attard      villa
 3    1177904   495000.0                     attard      house
 4    1177905        NaN            baħar iċ-ċagħaq  apartment
 ..       ...        ...                        ...        ...
 649  1176954        NaN  msida, university heights  apartment
 650  1176955   109000.0                      qormi  apartment
 651  1176956   120500.0                  st venera  apartment
 652  1176957   268000.0                     swieqi  penthouse
 653  1176958   800000.0                  tal-ibraġ        NaN

 [654 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id     price             location       type
 0    1251240       NaN                  NaN        NaN
 1    1251241  165000.0          gozo, għarb        NaN
 2    1251242  275000.0  mosta, żokrija area  apartment
 3    1251243       NaN            tal-ibraġ  apartment
 4    1250660       NaN                  NaN        NaN
 ..       ...       ...                  ...        ...
 520  1250523       NaN               sliema  penthouse
 521  1250501       NaN                  NaN        NaN
 522  1250502       NaN               balzan        NaN
 523  1250503       NaN             għargħur      house
 524  1250504  525000.0          gozo, għarb      house

 [525 rows x 4 columns],
           id      price                   location        type
 0    1320721        NaN                        NaN         NaN
 1    1320724   174000.0                gozo, għarb   apartment
 2    1320727  1395000.0                     sliema       house
 3    1320730        NaN                     sliema   apartment
 4    1319554        NaN  1% anne pullicino sensara         NaN
 ..       ...        ...                        ...         ...
 349  1319311        NaN                   pembroke  maisonette
 350  1319263        NaN                        NaN         NaN
 351  1319266   250000.0           gozo, marsalforn   apartment
 352  1319269        NaN                   pembroke  maisonette
 353  1319272  1550000.0                     sliema       house

 [354 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id      price                      location        type
 0    1236001        NaN                           NaN         NaN
 1    1236002   295000.0                    birkirkara   penthouse
 2    1236003        NaN                       buġibba         NaN
 3    1236004   990000.0                fort cambridge   apartment
 4    1236005   148000.0                gozo, victoria       house
 ..       ...        ...                           ...         ...
 569  1234699   348000.0                         qawra   penthouse
 570  1234700   230000.0                     san ġwann   apartment
 571  1234701  1450000.0                        sliema   apartment
 572  1234702   350000.0  st julians, close to balluta         NaN
 573  1234703   490000.0                        swieqi  maisonette

 [574 rows x 4 columns],
 Empty DataFrame
 Columns: [id, price, location, type]
 Index: [],
           id     price                       location       type
 0    1172795       NaN                            NaN        NaN
 1    1172781       NaN                            NaN        NaN
 2    1172782       NaN                            NaN        NaN
 3    1171909       NaN  1% anne pullicino sensara www        NaN
 4    1171910       NaN                            NaN        NaN
 ..       ...       ...                            ...        ...

In [19]:
data = pd.concat(processedfiles)

In [20]:
data

          id     price                       location       type
0    1101104       NaN       100% upmarket properties        NaN
1    1101105  500000.0  bungalow converted, with land        NaN
2    1101106  105000.0               gozo, marsalforn  apartment
3    1101107  220000.0                  gozo, xewkija        NaN
4    1101108  260000.0           guardamangia / pietà       flat
..       ...       ...                            ...        ...
725  1169458       NaN                            NaN        NaN
726  1169459  875000.0                        buskett        NaN
727  1169460  150000.0                          pietà        NaN
728  1169461       NaN   st julians, just off spinola  apartment
729  1169462   85000.0                        wardija        NaN

[121385 rows x 4 columns]

In [22]:
data.drop_duplicates()

          id     price                       location       type
0    1101104       NaN       100% upmarket properties        NaN
1    1101105  500000.0  bungalow converted, with land        NaN
2    1101106  105000.0               gozo, marsalforn  apartment
3    1101107  220000.0                  gozo, xewkija        NaN
4    1101108  260000.0           guardamangia / pietà       flat
..       ...       ...                            ...        ...
725  1169458       NaN                            NaN        NaN
726  1169459  875000.0                        buskett        NaN
727  1169460  150000.0                          pietà        NaN
728  1169461       NaN   st julians, just off spinola  apartment
729  1169462   85000.0                        wardija        NaN

[109594 rows x 4 columns]

In [ ]:
# CODE FROM FIRST DATA COLLECTION ATTEMPT - NOT FINAL SOLUTION

scrape = [] # List to store all ads (contains duplicates)
historybuffer = []

# Set up progress bar
pbar = tqdm(total=480) 
count = 0
# Looping through all 480 files
for filename in os.listdir("./data"):
    # Only consider .html files
    if filename.endswith(".html"):
        # Parse HTML into BeutifulSoup object
        html = BeautifulSoup(open("data/" + filename), "html.parser")
        # Get list of all <h2> tags matching the class name
        h2s = html.find_all("h2", class_ = "classified_date default_top_margin")
    
        # Website layout varies through time. Some files give an empty h2s list.
        # Therefore, I cater for both eventualities, starting with the newer layout.
        if len(h2s) == 0:
            # Get list of all <li> tags
            lis = html.find_all("li")
            for li in lis: # Append all ad text to scrape list
                adtext = li.text.replace("\n", "")
                if adtext not in historybuffer:
                    scrape.append(adtext)
                    historybuffer.append(adtext)
                    
                    
        # Catering for the older website style
        else:
            # Get list of all <ul> tags
            uls = html.find_all("ul", class_ = "classified_list")
            for ul in uls: 
                # Get list of all <li> tags
                lis = ul.find_all("li")
                for li in lis: # Append all ad text to scrape list
                    adtext = li.text.replace("\n", "")
                    if adtext not in historybuffer:
                        scrape.append(adtext)
                        historybuffer.append(adtext)
                    
    pbar.update(1)
pbar.close()