In [39]:
import pandas as pd
from matplotlib import pyplot as plt
import scipy.stats as stats
import statsmodels.api as sm 
import pylab as py

In [3]:
data = pd.read_pickle("./cleaned_data.pkl")

In [11]:
# Which is the most expensive location? I compare the same property types in different
# locations.

data['location'].value_counts()

sliema             7326
gozo               6308
mosta              4774
st julians         4152
mellieħa           3546
qawra              2985
attard             2974
birkirkara         2802
msida              2558
naxxar             2476
gżira              2427
st paul's bay      2172
żabbar             1898
ibraġ              1809
st venera          1659
qormi              1197
buġibba            1066
valletta           1048
pietà              1043
lija               1041
xemxija             967
baħar iċ-ċagħaq     830
birżebbuġa          772
swatar              658
birgu               633
bormla              517
isla                490
baħrija             250
hamrun               15
żebbug               14
għarghur              3
st lucia              1
Name: location, dtype: int64

In [6]:
data

          id     price    location       type
2    1101106  105000.0        gozo  apartment
4    1101108  260000.0       pietà       flat
9    1100419  149000.0      attard  apartment
10   1100420  680000.0      attard      villa
11   1100421  278000.0      attard  apartment
..       ...       ...         ...        ...
714  1169520  260000.0      sliema  penthouse
716  1169522  580000.0  st julians      villa
718  1169524  170000.0  st julians  apartment
722  1169481  150000.0       mosta  apartment
728  1169461  189000.0  st julians  apartment

[60411 rows x 4 columns]

In [34]:
# STATISTICAL ANALYSIS: Does price follow a gaussian distribution i.e. are prices normally
# distributed?
w, pvalue = stats.shapiro(data.price)
print('Test Statistic: ' + str(w))
print('p-value: ' + str(pvalue))

Test Statistic: 0.00033915042877197266
p-value: 0.0