In [ ]:
# these dependencies are necessary for loading .csv datasets into Pandas dataframes.
# sqlalchemy is used to bulk insert records into MySQL, on the user's behalf.
# from flask import Flask
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, DateTime, String
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# setup sqlalchemy connection to MySQL server.
engine = create_engine('mysql+pymysql://quentin:password@127.0.0.1:3306/covid19')
con = engine.connect()

# relative paths to csv datasets.
malta_data = 'malta.csv'
italy_data = 'italy.csv'

In [ ]:
# read csv datasets from files into pandas dataframes, parsing dates as datetime64
# and coutnry as string
mt = pd.read_csv(malta_data, dayfirst=True, parse_dates=['date'])
it = pd.read_csv(italy_data, dayfirst=True, parse_dates=['date'])
mt.country = mt.country.astype("|S")
it.country = it.country.astype("|S")

# convert whole number fields from float to integer
it.country = it.country.astype("|S")
it.deaths = it.deaths.fillna(0.0).astype(int)
it["new_deaths"] = it["new_deaths"].fillna(0.0).astype(int)
it["deaths"] = it["deaths"].fillna(0.0).astype(int)
it["itu"] = it["itu"].fillna(0.0).astype(int)
it["total_tests"] = it["total_tests"].fillna(0.0).astype(int)
it["new_tests"] = it["new_tests"].fillna(0.0).astype(int)
it["population"] = it["population"].fillna(0.0).astype(int)

# compute new cases for MT and store them within new dataframe column
mt["new_cases"] = mt.confirmed.sub(mt.confirmed.shift()).fillna(0.0).astype(int)
it.dtypes

In [ ]:
# send Malta dataframe to MySQL 'MT' table
mt.to_sql('MT', engine, if_exists='replace', index=False, chunksize=500)
con.execute('ALTER TABLE MT ADD PRIMARY KEY(date)') # make date primary key

# send Italy dataframe to MySQL 'IT' table
it.to_sql('IT', engine, if_exists='replace', index=False, chunksize=500)
con.execute('ALTER TABLE IT ADD PRIMARY KEY(date)') # make date primary key

In [ ]:
# check for outliers using simple scatter plot
fig = plt.figure(figsize=[8,8])
ax = plt.subplot(111)
ax.grid("on")
sns.scatterplot(data=mt, x="date", y="recovered", color="green")
sns.scatterplot(data=mt, x="date", y="deaths", color="red")
sns.scatterplot(data=mt, x="date", y="confirmed", color="blue")
plt.legend(labels=['Total Recoveries', 'Total Deaths', 'Total Cases'])
plt.show()